
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.container{
    box-shadow: 5px 5px 25px rgb(179, 172, 172);
    border-radius: 25px;
}