<section class="vh-100 mt-4">
  <div class="container  ">
    <div class="row d-flex justify-content-center align-items-center ">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black mt-5" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)" class="mx-1 mx-md-4">
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <!-- <input type="text" id="form3Example1c" class="form-control" placeholder="Your Name" /> -->
                      <!-- <label class="form-label" for="form3Example1c">Your Name</label> -->
                      <input type="text" id="form3Example1c" name="name" [(ngModel)]="name" required minlength="3"
                        class="form-control" #nameRef="ngModel" placeholder="Your Name" />
                      <div *ngIf="submitted && nameRef.invalid" class="text-danger small mt-1">
                        <div *ngIf="nameRef.errors?.['required']">Name is required.</div>
                        <div *ngIf="nameRef.errors?.['minlength']">Name must be at least 3 characters.</div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <!-- <input type="email" id="form3Example3c" class="form-control" placeholder="Your Email" /> -->
                      <!-- <label class="form-label" for="form3Example3c">Your Email</label> -->
                      <input type="email" id="form3Example3c" name="email" [(ngModel)]="email" required email
                        class="form-control" #emailRef="ngModel" placeholder="Your Email" />
                      <div *ngIf="submitted && emailRef.invalid" class="text-danger small mt-1">
                        <div *ngIf="emailRef.errors?.['required']">Email is required.</div>
                        <div *ngIf="emailRef.errors?.['email']">Invalid email format.</div>
                      </div>

                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <!-- <input type="password" id="form3Example4c" class="form-control" placeholder="Password" /> -->
                      <!-- <label class="form-label" for="form3Example4c">Password</label> -->
                      <!-- <input type="password" id="form3Example4c" name="password" [(ngModel)]="password" required
                          pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$" class="form-control"
                          #passwordRef="ngModel" placeholder="Password" /> -->

                      <div class="input-group">
                        <input [type]="showPassword ? 'text' : 'password'" id="form3Example4c" name="password"
                          [(ngModel)]="password" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_]).{8,}$"
                          class="form-control" #passwordRef="ngModel" placeholder="Password" />
                        <button type="button" class="btn btn-outline-secondary" (click)="showPassword = !showPassword">
                          <i class="fas" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                      </div>

                      <div *ngIf="submitted && passwordRef.invalid" class="text-danger small mt-1">
                        <div *ngIf="passwordRef.errors?.['required']">Password is required.</div>
                        <div *ngIf="passwordRef.errors?.['pattern']">
                          Must be 8+ characters, include upper/lowercase, number & special char.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <!-- <input type="password" id="form3Example4cd" class="form-control"
                          placeholder="Repeat your password" /> -->
                      <!-- <label class="form-label" for="form3Example4cd">Repeat your password</label> -->

                      <!-- <input type="password" id="form3Example4cd" name="repeatPassword" [(ngModel)]="repeatPassword"
                        required class="form-control" #repeatPasswordRef="ngModel" placeholder="Repeat your password" /> -->

                      <div class="input-group">
                        <input [type]="showRepeatPassword ? 'text' : 'password'" id="form3Example4cd"
                          name="repeatPassword" [(ngModel)]="repeatPassword" required class="form-control"
                          #repeatPasswordRef="ngModel" placeholder="Repeat your password" />
                        <button type="button" class="btn btn-outline-secondary"
                          (click)="showRepeatPassword = !showRepeatPassword">
                          <i class="fas" [ngClass]="showRepeatPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
                        </button>
                      </div>


                      <div *ngIf="submitted && repeatPasswordRef.invalid" class="text-danger small mt-1">
                        <div *ngIf="repeatPasswordRef.errors?.['required']">Repeat password is required.</div>
                      </div>
                      <div *ngIf="submitted && !repeatPasswordRef.errors && passwordMismatch"
                        class="text-danger small mt-1">
                        Passwords do not match.
                      </div>

                    </div>
                  </div>


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-warning btn-lg">Register</button>
                  </div>

                  <!-- ====== -->
                  <div *ngIf="errorMessage" class="alert alert-danger">
                    {{ errorMessage }}
                  </div>

                  <div *ngIf="successMessage" class="alert alert-success">
                    {{ successMessage }}
                  </div>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
</div>