<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-warning fs-6 fixed-top">
  <div class="container-fluid">
    <div>
      <a class="nav-link" routerLink="/home-page" routerLinkActive="active"
        style="color: #0a4275; font-weight: bold;">Movie App</a>
    </div>

    <div class="d-flex align-items-center gap-3 me-5">

      <!--  Show full menu only if user is logged in and email is verified -->
      <div class="d-flex align-items-center gap-3" *ngIf="isLoggedIn && isEmailVerified; else limitedMenu">

        <a routerLink="/watchlist" routerLinkActive="active" class="icon-link" style="color: black;">
          <i class="fas fa-heart"></i></a>
        <span class="text-dark" *ngIf="userName">
          <i class="far fa-user"></i> {{ userName }}
        </span>
        <button class="btn btn-link text-dark p-0" (click)="logout()">
          Logout
        </button>

        <!-- ! wish list counter -->
      <div class="d-flex align-items-center gap-5" routerLink="/watchlist">
        <a routerLink="/wishlist" class="icon-link position-relative d-flex align-items-center text-dark">watchlist
          <!-- Badge -->
          <span *ngIf="wishlistCount > 0" class="position-absolute" style="
          top: -10px;
          left: 105%;
          background-color: transparent;
          color: black;
          font-size: 0.75rem;
          width: 22px;
          height: 22px;
          border-radius: 10%;
        ">
            {{ wishlistCount }}
              </span>
        </a>
      </div>
      </div>

      <ng-template #limitedMenu>
        <!--  Show only Sign Up if user is not verified -->
        <a routerLink="/signup" routerLinkActive="active" class="icon-link" style="color: black;">
          Sign Up
        </a>
      </ng-template>

    </div>
  </div>
</nav>
<!-- Navbar -->