<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-warning fs-6 fixed-top">
  <div class="container-fluid">
    <div>
      <a class="nav-link" routerLink="/home-page" routerLinkActive="active"
        style="color: #0a4275; font-weight: bold;">Movie App</a>
    </div>

    <div class="d-flex align-items-center gap-3 me-5">

      <!--  Show full menu only if user is logged in and email is verified -->
      <div class="d-flex align-items-center gap-3" *ngIf="isLoggedIn && isEmailVerified && currentRoute === '/home-page'; else showSignupOnly">

        <a routerLink="/watchlist" routerLinkActive="active" class="icon-link" style="color: black;"><i
            class="fas fa-heart"></i></a>
        <span class="text-dark" *ngIf="userName">
          <i class="far fa-user"></i> {{ userName }}
        </span>
        <button class="btn btn-link text-dark p-0" (click)="logout()">
          Logout
        </button>
      </div>

      <!-- <ng-template #notLoggedIn>
        <a routerLink="/signin" routerLinkActive="active" class="icon-link" style="color: black;">
          Sign In
        </a>
      </ng-template> -->

      <ng-template #showSignupOnly>

        <!--  Show only Sign Up if user is not verified -->
        <a routerLink="/signup" routerLinkActive="active" class="icon-link" style="color: black;">
          Sign Up
        </a>
      </ng-template>



    </div>
  </div>
</nav>
<!-- Navbar -->