<!-- <div class="container-fluid mt-5">
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-6 mb-4 d-flex justify-content-center"> -->
<!-- *ngFor="let movie of movies; trackBy: trackById; let i = index" -->
<div class="card rounded" style="width: 100%; max-width: 200px">
  <div class="image-container position-relative">
    <div class="position-absolute top-end-10">
      <span class="more" (click)="toggleDropdown(index)">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#434343"
        >
          <path
            d="M240-400q-33 0-56.5-23.5T160-480q0-33 23.5-56.5T240-560q33 0 56.5 23.5T320-480q0 33-23.5 56.5T240-400Zm240 0q-33 0-56.5-23.5T400-480q0-33 23.5-56.5T480-560q33 0 56.5 23.5T560-480q0 33-23.5 56.5T480-400Zm240 0q-33 0-56.5-23.5T640-480q0-33 23.5-56.5T720-560q33 0 56.5 23.5T800-480q0 33-23.5 56.5T720-400Z"
          />
        </svg>
      </span>
      <ul
        class="dropdown-menu show"
        style="position: absolute; top: 30px; right: 0; display: block"
        *ngIf="openedDropdownIndex === index"
      >
        <li><a class="dropdown-item" href="#">Save watch list</a></li>
        <li><a class="dropdown-item" href="#">Delete</a></li>
        <li><a class="dropdown-item" href="#">Report</a></li>
      </ul>
    </div>
    <img
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      class="img-fluid rounded thumbnail-image"
      (click)="goToMovieDetails(movie.id)"
    />
  </div>
  <div class="p-2 position-relative">
    <div class="position-absolute rating">
      <span class="">{{ movie.vote_average.toFixed(1) * 10 }}%</span>
    </div>
    <h5 class="movie-title pt-3" (click)="goToMovieDetails(movie.id)">
      {{ movie.title }}
    </h5>
    <div class="d-flex justify-content-between align-items-center">
      <span>{{ movie.release_date }}</span>
      <button
        class="fav-btn"
        title="Add to favorites"
        (click)="toggleFavorite()"
        [class.active]="isFavorite && currentUser"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          stroke="currentColor"
          stroke-width="6"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path
            d="m479-60-87-79q-108-98-178-168.5T104-434q-40-56-55.5-103.5T33-637q0-113 76-189.5T298-903q50 0 96.5 17.5T479-836q38-32 84.5-49.5T660-903q113 0 190 76.5T927-637q0 51-15.5 98.5t-55.5 103Q816-380 746-309T566-139l-87 79Z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>
<!-- </div>
  </div>
</div> -->
